.navbar{
	height: 50px;
	background-color: #003580;
	display: flex;
	justify-content: center;
}

.navContainer{
	width: 100%;
	color: white;
	align-items: center;
	display: flex;
	justify-content: space-between;	
	padding: 0 20px;
}

.logo{
	font-weight: 500;
}

.navButton{
	margin-left: 20px;
    border: solid 2px #69a8ff;
    padding: 7px 15px;
    cursor: pointer;
    color: #94c4f1;
    font-weight: 500;
    background-color: #003580;
}